/* THIS WILL APPLY TO EVERY FORM */

.form-wrapper {
    background-color: skyblue;
    width: 50%; 
    position: fixed; 
    top: 25%; 
    left: 25%;
    z-index: 2; 
    padding: 20px;
    border-radius: 15px;
}

@media only screen and (max-width: 500px) {
    .form-wrapper {
        width: 80%;
        left: calc(10% - 20px);
    }
}

.form-wrapper h3 {
    text-align: center;
}

.form-wrapper .button-area {
    margin-top: 15px;
    text-align: center;
}

.form-wrapper .button-area button {
    background-color: darkcyan;
    color: white; 
    font-size: 16px;
    border: 1px solid darkcyan; 
    border-radius: 10px; 
    margin-right: 10px;
    padding: 5px;
}

.form-wrapper form {
    width: 100%;
    display: flex;
    flex-flow: row wrap; 
    gap: 5px;
}



.form-wrapper form .form-field {
    width: calc(50% - 5px); 
    margin-bottom: 10px;
}

.form-wrapper form .form-field label {
    display: block;
}
.form-wrapper form .form-field input, 
.form-wrapper form .form-field select {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 90%;
    background-color: skyblue;
    font-size: 15px;
    margin-top: 5px;
    padding: 7px;
    border: 1.5px solid black;
    border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
.form-wrapper form .form-field input::-webkit-outer-spin-button, 
.form-wrapper form .form-field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#from_account {
    width: 50px; 
    height: 50px;
}

.x-button {
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    position: absolute; 
    top: 4%; 
    left: 1%;
}

.x-button:hover {
    border: 1.5px solid black;
}

.error-message {
    color: red;
}
