

.portfolio-value-info {
    background-color: skyblue;
    width: calc(85% - 10px);
    margin: 20px auto 0 auto;
    padding: 20px 10px;
    border-radius: 15px;
}

.portfolio-value-info p {
    font-size: 22px;
    margin: 0;
    span {
        font-size: 18px;
    }
}
.portfolio-value-info strong {font-size: 25px;}
.portfolio-chart {
    margin: 30px 30px 0 30px;
    height: 60vh;
}

@media only screen and (max-width: 500px) {
    .portfolio-value-info {
        width: calc(98% - 10px);
        padding: 10px 5px;
    }
    .portfolio-value-info p {font-size: 18px;}
    .portfolio-value-info strong {font-size: 22px}
    .portfolio-chart {height: 50vh; margin-bottom: 10px}
}

.stock-list {
    width: calc(85% + 10px);
    margin: 30px auto 0 auto; 
}

.stock-list .table-title {
    background-color: darkcyan;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    text-align: left;

}

.stock-list .table-title h3 {
    margin: 0;
}

.stock-list table {
    width: 100%;
    background-color: rgba(0, 255, 0, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-collapse: collapse;
    overflow: hidden;
}

.stock-list th {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: green;
    color: white;
    font-size: 18px;
}

.stock-list tr:nth-child(even) {
    background-color: rgba(0, 255, 0, 0.75);
}

.stock-list .basic-row td {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 17px;
}

.detail-row-wrapper {
    background-color: skyblue;
    width: 90%;
    margin: 20px auto;
    border: 1.5px solid black;
    border-radius: 15px;
}

.detail-row-wrapper .back-button {
    display: block;
    margin: 20px auto; 
}

.stock-list td {
    border-top: 1.5px solid green;
    font-size: 18px;
}

.stock-list button { 
    background-color: darkcyan;
    color: white; 
    padding: 7px;
    border: none; 
    border-radius: 10px;
    font-size: 17px;
}

.stock-detail {
    padding: 10px 30px;
}

.stock-price-chart {
    width: 90%; 
    height: 60vh;
    margin: 0 auto; 
}

.stock-detail p {
    font-size: 17px;
}

@media only screen and (min-width: 1000px) {
    .stock-list th:nth-child(1) {width: 10%}
    .stock-list th:nth-child(2) {width: 10%}
    .stock-list th:nth-child(3) {width: 15%}
    .stock-list th:nth-child(4) {width: 15%}
    .stock-list th:nth-child(5) {width: 20%}
    .stock-list th:nth-child(6) {width: 10%}
    .stock-list th:nth-child(7) {width: 10%}
    .stock-list th:nth-child(8) {width: 10%}
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .stock-list th:nth-child(1) {width: 15%}
    .stock-list th:nth-child(2) {width: 20%}
    .stock-list th:nth-child(3) {width: 20%}
    .stock-list th:nth-child(4) {width: 15%}
    .stock-list th:nth-child(5) {width: 15%}
    .stock-list th:nth-child(6) {width: 15%}
}

@media only screen and (max-width: 500px) {
    .stock-list { width: 98%;}
    .stock-list th {font-size: 16.5px;}
    .stock-list th:nth-child(1) {width: 30%}
    .stock-list th:nth-child(2) {width: 35%}
    .stock-list th:nth-child(3) {width: 35%}
    .detail-row-wrapper { 
        width: 98%;
        margin: 10px auto;
        border: none;
        padding-bottom: 5px;
    }
    .stock-price-chart {
        width: 98%;
        height: 50vh;
    }
    .stock-detail {padding: 10px}
    .stock-detail h3 {font-size: 18px}
    .stock-detail p { font-size: 16.5px }
    .detail-row-wrapper .back-button {margin: 0}
    .detail-row-wrapper .button-area {
        margin: 20px 0;
        display: flex; 
        flex-flow: row nowrap;
        justify-content: center;
        gap: 10px;
    }
}
