.financial-info-title {
    font-size: 23px;
    margin: 0 auto 20px auto;
    width: 85%; 
}

.financial-cards-wrapper {
    width: 85%;
    margin: 0 auto 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.financial-card {
    background-color: skyblue;
    border-radius: 15px;
    padding: 10px;
    height: 70px;
}

.financial-card h4 {
    color: green;
    margin: 0;
    font-size: 16px;
}

.financial-card div {
    color: green;
    font-weight: 600;
    font-size: 26px;
    position: relative;
    top: 25px;
    float: right;
}

/* for mobile sreen */ 
@media only screen and (max-width: 500px) {
    .financial-info-title {font-size: 20px;}
    .financial-card {height: 50px;}
    .financial-card h4 {font-size: 14px;}

    .financial-cards-wrapper {
        width: 98%;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr);
    }

    .financial-card div {
        font-size: 24px;
        top: 12px;
    }

}


.charts {
    background-color: skyblue;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.main-charts {
    height: 120vh;
}

.main-charts p {
    margin-top: 20px; 
	color: darkcyan;
	font-size: 18px;
	font-weight: bold;
    text-align: center;
}

.timeseries-chart-wrapper {
    position: relative;
    height: 48%;
    width: 90%;
    margin: auto;
}

.chart-wrapper {
    height: 42%;
    width: 90%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.change-chart-wrapper, .composition-chart-wrapper {
    position: relative;
    width: calc(50% - 5px);
    height: 100%;
}

/* displaying charts for mobile */
@media only screen and (max-width: 500px) {
    .charts { width: 98%;}
    .main-charts {height: 150vh;}
    .main-charts p {margin-top: 20px; font-size: 16px;}

    .timeseries-chart-wrapper {
        position: relative;
        width: 95%;
        height: 29%;
    }

    .chart-wrapper {
        height: 61%;
        width: 95%;
        margin: 20px auto 0 auto;
        flex-flow: column;
        gap: 20px;
        justify-content: center;
    }

    .change-chart-wrapper, .composition-chart-wrapper {
        position: relative;
        width: 100%; 
        height: 50%;
    }
}

.add-button {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid green;
    background-color: darkcyan;
    color: white;
}

.card-frame {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.card-frame h3 {
    background-color: skyblue;
    width: calc(100% - 20px);
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0;
}

.card-list {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
  
    background-color: rgba(0, 255, 0, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: calc(100% - 20px);
    gap: 10px;
    padding: 10px;
}

@media only screen and (max-width: 500px) {
    .add-button {font-size: 14px;}
    .card-frame {width: 98%;}
    .card-frame h3 {font-size: 16px}
}