.header-bar {
    width: 100%;
    background-color: darkcyan;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 50px;
    display: flex; 
    flex-flow: row nowrap;
    align-items: center;
    z-index: 1;
}

.menu-wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap; 
    gap: 30px;
}

.header-bar button {
    position: relative; 
    top: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: darkcyan;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

@media only screen and (max-width: 750px) {
    .header-bar {flex-flow: column nowrap; }
    .title-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
        justify-content: space-between;
    }
    .header-bar button {
        font-size: 22px; 
        margin-left: 0;
    }
    .menu-wrapper {
        width: 100%;
        flex-flow: column nowrap;
        gap: 0;
    }
}