.budget-plan-form-wrapper {
    display: block;
    background-color: skyblue;
    width: 50%;
    border-radius: 20px;
    padding: 40px 20px;
    position: fixed; 
    top: 5%; 
    left: 25%; 
    z-index: 2;
}

#budget-plan-form {
    margin: auto;
    width: calc(90% - 20px);
}

#budget-plan-form .form-field {
    margin-top: 15px;
}

#budget-plan-form label {
    display: block;
}

#budget-plan-form input {
    display: inline-block;
    background-color: skyblue;
    width: calc(100% - 10px);
    padding: 10px 5px;
    font-size: 14px;
    border: 1.5px solid black; 
    border-radius: 10px;
}

.category-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.plan-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.budget-plan-form-wrapper .x-button {
    top: 5px;
    background-color: skyblue;
    color: black;
}

@media only screen and (max-width: 500px) {
    .budget-plan-form-wrapper {
        width: calc(90% - 40px);
        left: 5%;
    }
}

/* Chrome, Safari, Edge, Opera */
#budget-plan-form input::-webkit-outer-spin-button,
#budget-plan-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

