.navbar {
    background-color: darkcyan; 
    color: white; 
    margin: -10px;
    padding-top: 10px;
    position: fixed;
    width: 175px;
    height: 100%;
    line-height: 45px;
    text-align: center;
}


.navbar header {
    display: inline-block;
    width: 80%;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.navbar .options-wrapper {
    padding: 0;
    margin-top: 0;
    font-size: 18px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
